<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    
   <div class="headerImg"> </div>
   <div class="container">
    <p>100 concepts is a simple blog site that im using to help myself understand the concept of javaScript. so what im doing is going over 100 different concepts starting with the beginning concepts going to the advanced concepts. im going to right a new blog each day starting at the absolute beginging </p>
   </div>
   
   <hr>
   <div class="blogList container">
        <h2 class="sM centerText">New Post</h2>
        <div class="blogGrid container">
<<<<<<< HEAD

           
=======
            <% data.forEach(element => { %>
                <div class="gridItem">
                    <a href="/Post/<%= element._id %>">
                        <h3 class="sM "><%= element.title %></h3>
                    </a>
                    <p class="sM"><%= element.mainContent %></p>
                </div>
            <% }); %> 
>>>>>>> parent of c014051 (ok now ive a boilerplate that i can user to create blog sites, it still needs a ton of cleaning up but this will do for now!)
        </div>
        <div class="viewMore">
            <a href="/posts">
                <img src="/assets/arrow_down.png" alt="down arrow">
            </a>
            
        </div>
    </div>
  
       


    <%- include('./partials/footer') %>
    
</body>
</html>