
<%- include('./partials/head') %>

    <%- include('./partials/header') %>
    <div class="blogList container">
        <h2 class="sM centerText">New Post</h2>
        <div class="blogGrid container">
            <% data.forEach(element => { %>
                <div class="gridItem">
                    <a href="/Post/<%= element._id %>">
                        <h3 class="sM "><%= element.title %></h3>
                    </a>
                    <p class="sM"><%= element.mainContent %></p>
                </div>
            <% }); %> 
        </div>
    </div>
    <%- include('./partials/footer') %>
    
